<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.displayRules}">

    <div class="form-group">
        <a href="#" data-toggle="popover" data-trigger="focus" title="{f:translate(key:'rules.headline', extensionName:'tmpl_qmh')}" data-html="true" data-content="{f:translate(key:'rules.text', extensionName:'tmpl_qmh') -> f:format.htmlentities()}">
            <f:translate key="rules.headline" extensionName="tmpl_qmh" />
        </a>
    </div>

</f:if>
</html>
