<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{languagenavigation}">
    <ul id="language_menu" class="language-menu">
        <f:for each="{languagenavigation}" as="item" iteration="language-iterator">
            <li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                <f:if condition="{item.available}">
                    <f:then>
                        <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                            <span>{item.twoLetterIsoCode}</span>
                        </a>
                    </f:then>
                    <f:else>
                        <span>{item.twoLetterIsoCode}</span>
                    </f:else>
                </f:if>
            </li>
            <span class="language-separator">{f:if(condition:"{language-iterator.isLast}==0", then:"|")}</span>
        </f:for>
    </ul>
</f:if>
</html>
